<!DOCTYPE html>

<html lang="es">
    <head>
        <title>Rescate de Patitas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximumun-scale=1, minumum-scale=1">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/fontello.css">
        <script src="js/registrarUsuario.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    </head>

    <body>

        <header>

            <div class="contenedor">

                <h1 class="icon-guidedog">Rescatando patitas</h1>
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>

                <nav class="menu">
                    <a href="/index">Inicio</a>
                    <a href="/login">Ingresar</a>
                    <a href="/registrarUsuario">Registrarse</a>
                    <a href="/registrarMascota">Registrar Mascota</a>
                    <a href="">Mis Mascotas</a>
                    <a href="">Agregar Contacto</a>
                </nav>
            </div>
        </header>

            <div class="main-container">

                <form class="form-registro-usuario" id="formulario-registro-usuario" onsubmit ="return validarDatos()" action="/registrarUsuario" method="post">

                    <h2 class="titulo-pagina">REGISTRO DE USUARIO</h2>
                    <br>

                    <h3>Información de usuario</h3>


                    <div class="datos-registro-usuario">

                        <div class= "grid-item">
                            <label for="">Nombre</label>
                            <input type="text" name="nombre" value="" class="text-input" id="id_nombre">
                            <div style="display:none;" class="validacion" id="id_lnombre"><label>*Nombre vacío</label></div>
                        </div>

                        <div class= "grid-item">
                            <label for="Tipo">Apellido</label>
                            <input type="text" name="apellido" value="" class="text-input" id="id_apellido">
                            <div style="display:none;" class="validacion" id="id_lapellido"><label>*Apellido vacío</label></div>
                        </div>

                        <div class= "grid-item">
                            <label for="Fecha de nacimiento">Fecha de nacimiento</label>
                            <input type="date" name="fechaDeNacimiento" class="text-input" id="id_fechaDeNacimiento">
                            <div style="display:none;" class="validacion" id="id_lfechaDeNacimiento"><label>*Fecha de nacimiento vacía</label></div>
                        </div>

                        <div class="grid-select">
                            <label for="">Tipo de documento</label>
                            <select name="tipoDocumento" id="id_tipodoc">
                                <option value="DNI">DNI</option>
                                <option value="CUIL">CUIL</option>
                                <option value="PASAPORTE">PASAPORTE</option>
                                <option selected="true" disabled="tipoDocumento"></option>
                            </select>
                            <div style="display:none;" class="validacion" id="id_ltipodoc"><label>*Tipo de documento vacío</label></div>

                        </div>

                        <div class="grid-item">
                            <label for="Tipo">Número de documento</label>
                            <input type="number" name="documento" class="text-input" id="id_nrodoc">
                            <div style="display:none;" class="validacion" id="id_lnrodoc"><label>*Número de documento vacío</label></div>

                        </div>

                        <div class="grid-select">
                            <label for="">Perfil</label>
                            <select name="perfil" id="id_perfil">
                                <option value="ADMINISTRADOR">Administrador</option>
                                <option value="USUARIO">Usuario común</option>
                                <option selected="true" disabled="perfil"></option>
                            </select>
                            <div style="display:none;" class="validacion" id="id_lperfil"><label>*Perfil vacío</label></div>
                        </div>

                        <div class= "grid-item">
                            <label for="">Usuario</label>
                            <input type="text" name="usuario" value="" class="text-input" id="id_user">
                            <div style="display:none;" class="validacion" id="id_luser"><label>*Usuario vacío</label></div>
                        </div>

                        <div class= "grid-item">
                            <label for="">Contraseña</label>
                            <input type="text" name="password" value="" class="text-input" id="id_pass">
                            <div style="display:none;" class="validacion" id="id_lpass"><label>*Contraseña vacía</label></div>
                        </div>

                    </div>

                    <h3>Dirección</h3>

                    <div class="datos-registro-usuario">

                        <div class= "grid-item">
                            <label for="">Calle</label>
                            <input type="text" name="calleDireccion" class="text-input" id="id_calle">
                            <div style="display:none;" class="validacion" id="id_lcalle"><label>*Calle vacía</label></div>
                        </div>

                        <div class= "grid-item">
                            <label for="">Altura</label>
                            <input type="text" name="alturaDireccion" class="text-input" id="id_altura">
                            <div style="display:none;" class="validacion" id="id_laltura"><label>*Altura vacía</label></div>
                        </div>
                    </div>

                    <h3>Forma de contacto</h3>

                    <div class="datos-registro-usuario">

                        <div class= "grid-item">
                            <label for="">Nombre de contacto</label>
                            <input type="text" name="nombreContacto" class="text-input" id="id_nombrec">
                            <div style="display:none;" class="validacion" id="id_lnombrec"><label>*Nombre de contacto vacío</label></div>
                        </div>

                        <div class= "grid-item">
                            <label for="">Apellido de contacto</label>
                            <input type="text" name="apellidoContacto" class="text-input" id="id_apellidoc">
                            <div style="display:none;" class="validacion" id="id_lapellidoc"><label>*Apellido de contacto vacío</label></div>
                        </div>

                        <div class= "grid-item">
                            <label for="">Teléfono</label>
                            <input type="tel" name="telefonoContacto" class="text-input" id="id_telc">
                            <div style="display:none;" class="validacion" id="id_ltelc"><label>*Teléfono vacío</label></div>
                        </div>

                        <div class= "grid-item">
                            <label for="">Email</label>
                            <input type="email" name="emailContacto" class="text-input" id="id_emailc">
                            <div style="display:none;" class="validacion" id="id_lemailc"><label>*Email vacío</label></div>
                        </div>

                    </div>

                    <h3>Preferencia de contacto</h3>

                    <div class="preferencia-de-contacto">

                        <div class="checkbox">
                            <input id="WhatsApp" name="formaDeContacto" type="radio" value="WhatsApp" id="id_pwp">
                            <label for="WhatsApp">WhatsApp</label>
                        </div>

                        <div class="checkbox">
                            <input id="SMS" name="formaDeContacto" type="radio" value="SMS" id="id_psms">
                            <label for="SMS">SMS</label>
                        </div>

                        <div class="checkbox">
                            <input id="Email" name="formaDeContacto" type="radio" value="Email" id="id_pemail">
                            <label for="Email">Email</label>
                        </div>

                        <div style="display:none;" class="validacion" id="id_lpreferencia"><label>*Debe elegir al menos una preferencia de contacto</label></div>

                    </div>

                    <button class="boton-siguiente" type="submit">Registrarse</button>

                </form>

            </div>

        <footer>

            <div class="contenedor-footer">

                <div style="text-align: start">
                    <p class="nosotros">Rescatenemos patitas es una asociación<br>
                                        sin fines de lucro abocada a difundir,<br>
                                        proteger y promover los derechos de<br>
                                        los animales.</p>
                </div>

                <div style="text-align: center">
                    <p>Mandanos un maill<br>patitas@gmail.com</p>
                </div>

                <div >

                    <a href="#" class="button">
                    <span class="icon-facebook"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-youtube"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-twitter"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-instagram"></span>
                    </a>

                </div>

                <div></div>

                <div>
                    <p class="derechos">© 2021 - Todos los Derechos Reservados</p>
                </div>

            </div>

        </footer>

    </body>

</html>