.grip-item, .text-input{
    width: 100%;
    background-color: #ededed;
    border: none;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
}

.grip-item label{
    display: block;
    margin-bottom: 10px;
}