<!DOCTYPE html>

<html lang="es">
    <head>
        <title>Generar Publicacion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximumun-scale=1, minumum-scale=1">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/fontello.css">
        <link rel="stylesheet" href="/css/adoptar.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
        <script>
            function showAlert() {
                Swal.fire({
                    title: '¿Continuar?',
                    showDenyButton: true,
                    confirmButtonText: `Aceptar`,
                    denyButtonText: `Cancelar`,
                    }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        Swal.fire('Tu ublicación ya está en proceso', '', 'success')
                    } else if (result.isDenied) {
                        Swal.fire('Adopción cancelada', '', 'info')
                    }
                    })
            }
        </script>

    </head>

    <body>
        <header>
            <div class="contenedor">

                <h1 class="icon-guidedog">Rescatando patitas</h1>
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>

                <nav class="menu">
                    <a href="/index">Inicio</a>
                    <a href="/login">Ingresar</a>
                    <a href="/registrarUsuario">Registrarse</a>
                    <a href="/registrarMascota">Registrar Mascota</a>
                    <a href="/adoptar">Adoptar Mascota</a>
                    <a href="">Mis Mascotas</a>
                    <a href="">Agregar Contacto</a>
                    <a href="">Búsqueda personalizada</a>
                </nav>
            </div>
        </header>

        <div class="main-container">
            <div>
                <form action="../../form-result.php" target="_blank">
                <p>
                    Seleccione las caracteristicas que prefiere en su mascota:<br>
                <input type="checkbox" name="peliculas"> Tamaño grande<br>
                <input type="checkbox" name="deportes"> Tamano mediano<br>
                <input type="checkbox" name="deportes"> Tamano chico<br>
                <input type="checkbox" name="deportes"> Pelo corto<br>
                <input type="checkbox" name="deportes"> Pelo largo<br>
                </p>

                <p>
                    Seleccione sus preferencias:<br>
                <input type="checkbox" name="peliculas"> Tamaño grande<br>
                <input type="checkbox" name="deportes"> Tamano mediano<br>
                <input type="checkbox" name="deportes"> Tamano chico<br>
                <input type="checkbox" name="deportes"> Pelo corto<br>
                <input type="checkbox" name="deportes"> Pelo largo<br>
                </p>

                <p>
                    Seleccione sus comodidades:<br>
                <input type="checkbox" name="peliculas"> Tamaño grande<br>
                <input type="checkbox" name="deportes"> Tamano mediano<br>
                <input type="checkbox" name="deportes"> Tamano chico<br>
                <input type="checkbox" name="deportes"> Pelo corto<br>
                <input type="checkbox" name="deportes"> Pelo largo<br>
                </p>


                <div style="text-align:left">
                                <button class="boton-siguiente" id="boton-adopcion" type="button" onclick="showAlert()">Generar Publicación</button>
                </div>

                </form>
            </div>
        </div>

        <footer>

            <div class="contenedor-footer">

                <div style="text-align: start">
                    <p class="nosotros">Rescatenemos patitas es una asociación<br>
                                        sin fines de lucro abocada a difundir,<br>
                                        proteger y promover los derechos de<br>
                                        los animales.</p>
                </div>

                <div style="text-align: center">
                    <p>Mandanos un maill<br>patitas@gmail.com</p>
                </div>

                <div >

                    <a href="#" class="button">
                    <span class="icon-facebook"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-youtube"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-twitter"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-instagram"></span>
                    </a>

                </div>

                <div></div>

                <div>
                    <p class="derechos">© 2021 - Todos los Derechos Reservados</p>
                </div>

            </div>

        </footer>

    </body>

</html>