<!DOCTYPE html>

<html lang="es">
    <head>
        <title>Rescate de Patitas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximumun-scale=1, minumum-scale=1">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/fontello.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
        <script>
            function showAlert() {
                Swal.fire({
                    title: '¿Datos de registro correctos?',
                    showDenyButton: true,
                    confirmButtonText: `Registrar`,
                    denyButtonText: `Cancelar`,
                    }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        Swal.fire('Registro exitoso', '', 'success')
                        document.getElementById('formulario-registro-usuario').reset();
                    } else if (result.isDenied) {
                        // Swal.fire('No publicado', '', 'info')
                    }
                })
            }
        </script>
    </head>

    <body>

        <header>

            <div class="contenedor">

                <h1 class="icon-guidedog">Rescatando patitas</h1>
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>

                <nav class="menu">
                    <a href="/index">Inicio</a>
                    <a href="/login">Ingresar</a>
                    <a href="/registrarUsuario">Registrarse</a>
                    <a href="/registrarMascota">Registrar Mascota</a>
                    <a href="">Mis Mascotas</a>
                    <a href="">Agregar Contacto</a>
                </nav>

            </div>

        </header>




        <div class="main-container">

            <form class="form-registro-usuario" id="formulario-registro-usuario" action="index.html" method="post">

                <h2 class="titulo-pagina">REGISTRO DE USUARIO</h2>
                <br>

                <h3>Información de usuario</h3>


                <div class="datos-registro-usuario">

                    <div class= "grid-item">
                        <label for="">Nombre</label>
                        <input type="text" name="" value="" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="Tipo">Apellido</label>
                        <input type="text" name="" value="" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="Fecha de nacimiento">Fecha de nacimiento</label>
                        <input type="date" name="" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="">Dirección</label>
                        <input type="text" name="" class="text-input">
                    </div>

                    <div class="grid-select">
                        <label for="">Tipo de documento</label>
                        <select name="Tipo">
                            <option value="DNI">DNI</option>
                            <option value="CUIL">CUIL</option>
                            <option value="PASAPORTE">PASAPORTE</option>
                            <option selected="true" disabled="Tipo"></option>
                        </select>
                    </div>

                    <div class="grid-item">
                        <label for="Tipo">Número de documento</label>
                        <input type="number" name="" class="text-input">
                    </div>

                </div>

                <h3>Forma de contacto</h3>

                <div class="datos-registro-usuario">

                    <div class= "grid-item">
                        <label for="">Nombre de contacto</label>
                        <input type="text" name="" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="">Apellido de contacto</label>
                        <input type="text" name="" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="">Teléfono</label>
                        <input type="tel" name="" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="">Email</label>
                        <input type="email" name="" class="text-input">
                    </div>

                </div>

                <h3>Preferencia de contacto</h3>

                <div class="preferencia-de-contacto">

                    <div class="checkbox">
                        <input id="WhatsApp" name="contacto" type="radio" value="WhatsApp">
                        <label for="WhatsApp">WhatsApp</label>
                    </div>

                    <div class="checkbox">
                        <input id="SMS" name="contacto" type="radio" value="SMS">
                        <label for="SMS">SMS</label>
                    </div>

                    <div class="checkbox">
                        <input id="Email" name="contacto" type="radio" value="Email">
                        <label for="Email">Email</label>
                    </div>

                </div>

                <div style="text-align:end">
                    <button class="boton-siguiente" id="boton-adopcion" type="button" onclick="showAlert()">Registrar</button>
                </div>

            </form>

        </div>

        <footer>

            <div class="contenedor-footer">

                <div style="text-align: start">
                    <p class="nosotros">Rescatenemos patitas es una asociación<br>
                                        sin fines de lucro abocada a difundir,<br>
                                        proteger y promover los derechos de<br>
                                        los animales.</p>
                </div>

                <div style="text-align: center">
                    <p>Mandanos un maill<br>patitas@gmail.com</p>
                </div>

                <div >

                    <a href="#" class="button">
                    <span class="icon-facebook"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-youtube"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-twitter"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-instagram"></span>
                    </a>

                </div>

                <div></div>

                <div>
                    <p class="derechos">© 2021 - Todos los Derechos Reservados</p>
                </div>

            </div>

        </footer>

    </body>

</html>