<!DOCTYPE html>

<html lang="es">
    <head>
        <title>Rescate de Patitas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximumun-scale=1, minumum-scale=1">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/fontello.css">
    </head>

    <body>

        <header>

            <div class="contenedor">

                <h1 class="icon-guidedog">Rescatando patitas</h1>
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>

                <nav class="menu">
                    <a href="/index">Inicio</a>
                    <a href="/login">Ingresar</a>
                    <a href="/registrarUsuario">Registrarse</a>
                    <a href="/registrarMascota">Registrar Mascota</a>
                    <a href="">Mis Mascotas</a>
                    <a href="">Agregar Contacto</a>
                </nav>

            </div>

        </header>




        <div class="main-container">

            <form class="form-registro-mascota" id="formulario-mascota" action="/guardarMascota" method="post" enctype="multipart/form-data">

                <h2 class="titulo-pagina">REGISTRO DE MASCOTA</h2>
                <br>

                <h3>Información de Mascota</h3>

                <div class="informacion-del-animal" >

                    <div class= "grid-item">
                        <label for="">Tipo</label>
                        <select name="tipo" class="text-input">
                            <option value="Perro">Perro</option>
                            <option value="Gato">Gato</option>
                            <option selected="true" disabled="tipo"></option>
                        </select>
                    </div>

                    <div class= "grid-item">
                        <label for="">Nombre</label>
                        <input type="text" name="nombre" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="">Apodo</label>
                        <input type="text" name="apodo" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="">Fecha de nacimiento aproximada</label>
                        <input type="date" name="fechaDeNacimiento" class="text-input">
                    </div>

                    <div class= "grid-item">
                        <label for="">Sexo</label>
                        <select name="sexo" class="text-input">
                            <option value="M">Macho</option>
                            <option value="H">Hembra</option>
                            <option selected="true" disabled="sexo"></option>
                        </select>
                    </div>

                    <div class= "grid-item">
                        <label for="">Descripción física</label>
                        <input type="text" name="descripcion" class="text-input" maxlength="100">
                    </div>

                </div>

                <h3>Foto de la mascota</h3>

                <div class="informacion-del-animal" >
                        <input type="file" name="image_1"/>
                </div>

                <h3>Características de la mascota</h3>
                <div class="informacion-del-animal" >
                    <div class= "grid-item">
                        <label for="">Característica 1</label>
                        <select name="caracteristica1" id="caracteristica1" class="text-input">
                            {{#each caracteristicas}}
                                <option>{{nombre}}</option>
                            {{/each}}
                                <option selected="true" disabled="caracteristica1"></option>
                        </select>
                    </div>

                    <div class= "grid-item">
                        <label for="">Característica 2</label>
                        <select name="caracteristica2" id="caracteristica2" class="text-input">
                            {{#each caracteristicas}}
                                <option>{{nombre}}</option>
                            {{/each}}
                                <option selected="true" disabled="caracteristica2"></option>
                        </select>
                    </div>

                    <div class= "grid-item">
                        <label for="">Característica 3</label>
                        <select name="caracteristica3" id="caracteristica3" class="text-input">
                            {{#each caracteristicas}}
                                <option>{{nombre}}</option>
                            {{/each}}
                                <option selected="true" disabled="caracteristica3"></option>
                        </select>
                    </div>
                </div>

{{!--                 <div style="text-align:end"> --}}
                <button class="boton-siguiente" type="submit">Registrar</button>

{{!--                 </div> --}}
            </form>

        </div>

        <footer>

            <div class="contenedor-footer">

                <div style="text-align: start">
                    <p class="nosotros">Rescatenemos patitas es una asociación<br>
                                        sin fines de lucro abocada a difundir,<br>
                                        proteger y promover los derechos de<br>
                                        los animales.</p>
                </div>

                <div style="text-align: center">
                    <p>Mandanos un maill<br>patitas@gmail.com</p>
                </div>

                <div >

                    <a href="#" class="button">
                    <span class="icon-facebook"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-youtube"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-twitter"></span>
                    </a>

                    <a href="#" class="button">
                    <span class="icon-instagram"></span>
                    </a>

                </div>

                <div></div>

                <div>
                    <p class="derechos">© 2021 - Todos los Derechos Reservados</p>
                </div>

            </div>

        </footer>

    </body>

</html>